/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 325px) {
  .teachers__foto {
    border-radius: 40px 40px 0 0;
  }
}

@media (min-width: 576px) {
  .header__logo {
    margin-bottom: 27px;
  }

  .nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible;
  }

  .header {
    padding-bottom: 30px;
  }

  .banner__title {
    margin-bottom: 16px;
    font-size: 50px;
  }

  .back-image {
    padding-top: 30px;
    padding-bottom: 85px;
  }

  .banner__text {
    margin-bottom: 63px;
    max-width: 345px;
    font-size: 18px;
    line-height: 144%;
  }

  .banner__btn {
    padding: 24px 75px;
    font-size: 18px;
  }

  .advantages__article {
    padding-left: 180px;
    background-image: url(../img/Vectary-texture576.jpg);
    background-size: 150px 134px;
    background-repeat: no-repeat;
  }

  .advantages__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 100%;
  }

  .section--margin {
    margin-bottom: 80px;
  }

  .advantages__item {
    padding-left: 0;
    padding-top: 95px;
  }

  .advantages--margin {
    margin-bottom: 17px;
  }

  .teachers {
    padding-top: 75px;
    padding-bottom: 49px;
  }

  .teachers__foto {
    border-radius: 21px 21px 0 0;
  }
  .teachers--margin {
    margin-bottom: 75px;
  }

  .teachers__title {
    margin-bottom: 23px;
    font-size: 40px;
  }

  .courses__img1 {
    background-image: url(../img/courses1-576.jpg);
  }

  .courses__img2 {
    background-image: url(../img/courses2-576.jpg);
  }

  .courses__img3 {
    background-image: url(../img/courses3-576.jpg);
  }

  .courses__img4 {
    background-image: url(../img/courses4-576.jpg);
  }

  .courses__title {
    margin-bottom: 23px;
    font-size: 40px;
  }

  .courses__btn {
    padding: 21px 48px;
  }

  .courses--margin {
    margin-bottom: 50px;
  }

}

@media (min-width: 768px) {

  .section--margin {
    margin-bottom: 80px;
  }

  .header {
    padding-bottom: 25px;
  }

  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .back-image {
    background-image: url(../img/banner-img768.svg);
    background-repeat: no-repeat;
    background-position: 96% 44%;
    background-size: 330px;
    min-height: 350px;
    padding-top: 80px;
    padding-bottom: 84px;
  }

  .banner__title {
    margin-bottom: 20px;
  }

  .banner__text {
    margin-bottom: 65px;
  }

  .advantages--margin {
    margin-bottom: 35px;
  }

  .advantages__article {
    padding-left: 240px;
    background-image: url(../img/Vectary-texture768.jpg);
    background-size: 211px 187px;
    background-position: left;
  }

  .teachers--margin {
    margin-bottom: 76px;
  }

  .courses--margin {
    margin-bottom: 50px;
  }

  .courses__img1 {
    background-image: url(../img/courses1-768.jpg);
  }

  .courses__img2 {
    background-image: url(../img/courses2-768.jpg);
  }

  .courses__img3 {
    background-image: url(../img/courses3-768.jpg);
  }

  .courses__img4 {
    background-image: url(../img/courses4-768.jpg);
  }

  .courses__subtitle {
    max-width: 270px;
  }

  .courses__desc {
    min-height: 376px;
  }

  .courses__btn {
    padding: 21px 56px;
  }

}

@media (min-width:1200px) {

  .section--margin {
    margin-bottom: 80px;
  }

  .back-image {
    background-image: url("../img/banner-img1200.svg");
    background-position: 97% 50%;
    background-size: 634px;
    padding-bottom: 81px;
  }

  .banner__title {
    font-size: 60px;
    margin-bottom: 28px;
  }

  .banner__text {
    max-width: 450px;
    margin-bottom: 62px;
    line-height: 150%;
  }

  .advantages__article {
    padding-left: 190px;
    background-size: 160px 142px;
  }

  .advantages__title {
    max-width: 380px;
  }

  .advantages__item {
    padding-top: 15px;
    padding-left: 110px;
    padding-bottom: 17px;
  }

  .advantages--margin {
    margin-bottom: 70px;
  }

  .teachers {
    padding-bottom: 51px;
  }

  .teachers--margin {
    margin-bottom: 74px;
  }

  .courses__img1 {
    background-image: url(../img/courses1.jpg);
  }

  .courses__img2 {
    background-image: url(../img/courses2.jpg);
  }

  .courses__img3 {
    background-image: url(../img/courses3.jpg);
  }

  .courses__img4 {
    background-image: url(../img/courses4.jpg);
  }

  .courses__desc {
    min-height: 300px;
  }

  .courses__btn {
    padding: 21px 59px;
  }

  .courses--margin {
    margin-bottom: 50px;
  }
}
